@import url("https://fonts.googleapis.com/css2?family=Playball&family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(89.64deg, #f8f8f8 10.51%, #dddddd 101.48%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    text-decoration: none;
    font-family: "Playball", cursive;
    font-size: 55px;
    color: black;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    padding: 0px 30px;
    font-size: 36px;
}

/* section */

.center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center div {
    width: clamp(400px, 45%, 600px);
    margin: 50px;
}

.title {
    font-size: 2.5rem;
}

.text {
    margin: 20px;
    font-size: 18px;
}

/* project */
.project {
    display: grid;
    justify-content: center;
}

.card {
    text-align: center;
}
.link{
    text-align: center;
}

.img {
    width: 400px;
    height: 400px;
}

@media (max-width: 900px) {
    nav {
        margin: 90px 50px;
    }
}

@media (max-width: 650px) {
    nav {
        margin: 90px 20px;
    }

    .logo {
        font-size: 24px;
    }

    ul li {
        font-size: 18px;
        padding: 0px 20px;
    }

}