@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Color
044B18 li
0C5220 h
275F37 p
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(89.64deg, #f8f8f8 10.51%, #69925c 101.48%);

  font-family: "Roboto", sans-serif;
}

.nav-link {
  color: #044818;
  font-size: 28px;
  font-weight: 700;
  margin-top: 50px;
  padding: 0px 30px !important;
}
.navbar-toggler {
  margin-top: 80px;
}
.bara {
  border-bottom: 2px solid #044818;
}

h1 {
  color: #0c5220;
  font-size: 60px !important;
}
h2 {
  color: #0c5220;
  font-size: 90px !important;
}
p {
  font-size: 32px;
  font-weight: 500;
  color: #275f37;
}
strong {
  color: #000;
}

@media (max-width: 1000px) {
  .home-bg,
  .img-mt {
    margin: 50px 0px !important;
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 45px !important;
  }
  h2 {
    font-size: 50px !important;
  }
  p {
    font-size: 24px;
  }
}

/* platns */

.a {
  text-decoration: none;
  font-size: 32px;
  color: #275f37;
}
.a:hover {
  color: #044818;
}
.owl-dot {
  margin-bottom: 40px !important;
}
.owl-dot.active span {
  background-color: black !important;
}
